#unity ignore dir
/island-unity/[Ll]ibrary
/island-unity/[Tt]emp/
/island-unity/[Oo]bj/
/island-unity/[Bb]uild/
/island-unity/[Bb]uilds/
/island-unity/[Ll]ogs
/island-unity/[Uu]ser[Ss]ettings
/island-unity/.vscode

# unity ignore file
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.tmp